<header class="mb-4">
  <nav class="flex flex-wrap items-center justify-between px-2 py-3 text-gray-700 bg-kombiKansasRot sm:px-10">

    <div class="flex items-center mr-2 sm:mr-6 flex-no-shrink">
      <%= link_to "/", class: "w-10" do %>
        <%= image_tag "logo.svg", alt: t('alttext_logo'), width: "80", height: "80", class: "content-center" %>
      <% end %>
    </div>

  </nav>
</header>
