@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './components/footer.css';
@import 'tailwindcss/utilities';

/* Error modal used for custom error pages */
.errormodal-back {
  @apply bg-kombiKansasRot;
}

.errormodal-content {
  @apply bg-black font-kombicode text-kombiPastelWeiss;
}

/* Raleway variable font */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200 800;
  font-display: optional;
  src: url('Raleway-VariableFont_wght.woff2') format("woff2");
}
