@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './components/footer.css';
@import 'tailwindcss/utilities';

/* Raleway variable font */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200 800;
  font-display: optional;
  src: url('Raleway-VariableFont_wght.woff2') format("woff2");
}
